<!-- app css -->

.sbo-badge {
	margin-right: 2px;
}

.sbo-main-container {
	height: 100%;
	width: 100%;
}

.sbo-keyvaluepair {
	display: block;
}

.sbo-object-card {
	border: 1px solid rgba(0, 0, 0, .2);
	display: inline-block;
	height: 230px;
	padding: 8px;
	margin: 0 4px 8px 0;
}

.sbo-object-card-content-wrapper {
	padding-top: 7px;
}

.sbo-object-card-fields-container {
	display: inline-block;
	height: 170px;
}

.sbo-object-card-img-container {
    display: inline-block;
    width: 170px;
    margin-right: 5px;
}

.sbo-navbar-link {
	margin-right: 15px;
}

.sbo-navbar-link-wrapper {
	margin-right: 1.5em; 
	display: inline-block;
}

.sbo-navbar-selected {
	font-weight: bold;
}

.sbo-object-container {
	height: 100%;
	width: 100%;
	margin: 10px;
}

.sbo-object-fields-container {
	display: inline-block;
	margin-top: 5%;
	width: 70%;
	height: 100%;
}

.sbo-object-field1 {
	display: inline-block;
	margin-right: 2%;
	margin-bottom: 2%;
	width: 47%;
	height: 47%;
}

.sbo-object-field2 {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 2%;
	width: 47%;
	height: 47%;
}

.sbo-object-field3 {
	display: inline-block;
	margin-right: 2%;
	width: 47%;
	height: 47%;
}

.sbo-object-field4 {
	display: inline-block;
	vertical-align: bottom;
	width: 47%;
	height: 47%;
}

.sbo-object-img {
	width: 100%
}

.sbo-object-img-container {
	display: inline-block;
	width: 29%;
}

.sbo-object-name {
	font-size: 2em;
}

.sbo-object-preview-container {
	width: 100%;
	margin: 10px;
}