.sbo-main-container {
	height: 100%;
	width: 100%;
}

.sbo-keyvaluepair {
	display: block;
}

.sbo-object-card {
	display: inline-block;
	width: 300px;
	height: 400px;
}

.sbo-object-container {
	height: 100%;
	width: 100%;
	margin: 10px;
}

.sbo-object-fields-container {
	display: inline-block;
	margin-top: 5%;
	width: 70%;
	height: 100%;
}

.sbo-object-field1 {
	display: inline-block;
	margin-right: 40px;
}

.sbo-object-field2 {
	display: inline-block;
	vertical-align: top;
}

.sbo-object-field3 {
	display: inline-block;
	margin-right: 40px;
}

.sbo-object-field4 {
	display: inline-block;
	vertical-align: bottom;
}

.sbo-object-img {
	width: 100%
}

.sbo-object-img-container {
	display: inline-block;
	width: 29%;
}

.sbo-object-name {
	font-size: 2em;
}

.sbo-object-preview-container {
	width: 100%;
	margin: 10px;
}