label {
	font-weight: 500;
}

select.form-control {
    margin-bottom: 1em;
}

<!-- app css -->

.sbo-badge {
	margin-right: 2px;
}

.sbo-chronic-container {
	height: 28em;
}

.sbo-main-container {
	height: 100%;
	width: 100%;
}

.sbo-filter-activefilterarea {
    min-height: 200px;
    background-color: #FAFAFAFA;
    border-radius: 4px;
    margin-bottom: 2em;
}

.sbo-filter-indicator {
	margin-bottom: 0.6em;
	font-size: 0.9em;
}

.sbo-filter-link {
	margin-left: 0.3em;
	color: #db1111;
}

.sbo-heading-4 {
	font-size: 1.2em;
	line-height: 2em;
}

.sbo-keyvaluepair {
	display: block;
}

.sbo-link-not-active {
   pointer-events: none;
   cursor: default;
   color: #000000;
}

.sbo-link {
	color: #0000EE;
	text-decoration: underline;
}

.sbo-object-card {
	border: 3px solid rgba(0, 0, 0, .2);
	border-radius: 4px;
	box-shadow: 3px 3px 3px #888888;
	display: inline-block;
	flex-grow: 1;
	margin: 0 auto 1em 0;
	max-width: 49%;
	min-width: 30em;
	min-height: 230px;
	padding: 8px;
	position: relative;
}

.sbo-object-card-headline {
	font-size: 1.2em;
}

.sbo-card-link { 
  position: absolute; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.sbo-card-link:hover { 
	background: hsla(220,50%,50%,0.2);
}

.sbo-object-card-content-wrapper {
	padding-top: 7px;
	white-space: nowrap;
}

.sbo-object-card-fields-container {
	display: inline-block;
	white-space: pre-wrap;
	width: 58%;
}

.sbo-object-card-img-container {
    display: inline-block;
    width: 40%;
    margin-right: 5px;
}

.sbo-navbar {
	margin-bottom: 5px !important;
	border: lightgrey solid 3px;
	border-radius: 4px;
}

.sbo-navbar-item-active {
 	color: #555;
    background-color: #ffffff;
    border-right: lightgray solid 3px;
    border-left: lightgray solid 3px;
	border-radius: 4px;
	padding: 14px !important;
}

.sbo-navbar-item {
	margin: 0px !important;
	padding: 15px;
	position: relative;
}

.sbo-navbar-logo > img {
	max-height: 3em;
}

@media only screen and (min-width: 768px) {
    .applayout-banner {
        display: none;
    }
}

.sbo-navbar-item > .sbo-navbar-link-wrapper > a {
	color: #000000;
}

.sbo-navbar-link {
	position: absolute; 
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.sbo-navbar-link:hover {
	background: hsla(220,50%,50%,0.2);
}

.sbo-navbar-link-wrapper {
	margin-right: 1.5em; 
	display: inline-block;
}

.sbo-navbar-selected {
	font-weight: bold;
}

.sbo-object-container {
	height: 100%;
	width: 100%;
	border: lightgrey solid 3px;
	border-radius: 4px;
	margin-bottom: 0.8em;
	padding: 0.8em;
}

.sbo-object-fields-container {
	display: inline-block;
	margin-top: 5%;
	height: 100%;
	width: 70%;
	word-wrap: break-word;
}

.sbo-object-field1 {
	display: inline-block;
	margin-right: 2%;
	margin-bottom: 2%;
	width: 47%;
	height: 47%;
}

.sbo-object-field2 {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 2%;
	width: 47%;
	height: 47%;
}

.sbo-object-field3 {
	display: inline-block;
	margin-right: 2%;
	width: 47%;
	height: 47%;
}

.sbo-object-field4 {
	display: inline-block;
	vertical-align: bottom;
	width: 47%;
	height: 47%;
}

.sbo-object-img {
	max-height: 10em;
}

.sbo-object-img-preview {
	max-width: 10em;
}

.sbo-object-img-container {
	display: inline-block;
	max-width: 29%;
}

.sbo-object-name {
	font-size: 2em;
}

.sbo-object-preview-container {
	width: 100%;
	margin: 10px;
	display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;
	max-height: 1000px;
	overflow: auto;
}

.sbo-text-center {
	text-align: center;
}

.sortPanel {
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
	height: 35px;
}

.sortType {
	display: inline-block;
	float: right;
	margin-right: 1em;
}

.sbo-sort-attr-combobox {
	margin-bottom: 0px !important;
}

.sbo-sort-button {
	display: inline-block;
	float: right;
}

.sbo-sort-container-attr {
	display: inline-block;
	float: right;
	margin-right: 1em;
}

.sbo-sort-radio-group {
	display: inline-block;
	margin-top: 5px !important;
	margin-bottom: 0px !important;
}

.sbo-widget-container {
	border: lightgrey solid 3px;
	border-radius: 4px;
	margin-bottom: 0.8em;
}

.sbo-widget-container-inner {
	padding: 0.4em;
	position: relative;
}

.sbo-widget-container-inner-scroll {
	padding: 0.4em;
	overflow-y: scroll;
	overflow-x: auto;
	height: 24em;
	position: relative;
}

.sbo-widget-heading {
	background-color: #325c80;
	border-bottom: lightgray solid 3px;
	color: #ffffff;
	margin-bottom: 0.5em;
	margin-top: 0px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
}

<!-- dojo rangeSlider -->
.dijitSlider.dojoxRangeSlider .dijitSliderLeftBumper,
.dijitSlider.dojoxRangeSlider .dijitSliderBottomBumper {
	background:#FFFFFF;
}
.claro .dijitSliderDisabled.dojoxRangeSlider .dijitSliderLeftBumper,
.claro .dijitSliderDisabled.dojoxRangeSlider .dijitSliderBottomBumper {
	background:#EFEFEF;
}
.dojoxRangeSliderBarContainer {
	position:relative;
}
.dojoxRangeSlider .dijitSliderProgressBarV {
	position:relative !important;
}
.dojoxRangeSlider .dijitSliderProgressBar {
	overflow:hidden;
	cursor:pointer;
	
}
.dojoxRangeSlider .dijitSliderProgressBarV {
	position:absolute !important;
	border-width: 0px;
}
.dojoxRangeSlider .dijitSliderImageHandleH {
	left: -50%;
}
.dijitSlider .dojoxRangeSliderBarContainer .dijitSliderProgressBarH,
.dojoxRangeSlider .dijitSliderMoveableH {
	right:auto !important;
}
